<div class="w-full">
  <div class='sm:px-0 md:px-40 lg:px-40 flex justify-between gap-8'>
    <% content_for :title, "Users", class: "text-2xl" %>
    <!-- nav -->
    <div class='sm:w-[10%] md:w-[25%] lg:w-[25%] flex flex-col gap-8 pt-4'>
      <h1 class="sm:hidden md:block lg:block logo font-bold text-5xl">
        Troll Deck
      </h1>
      <div
        class='
          sm:block md:hidden lg:hidden text-5xl flex sm:justify-center md:justify-start
          lg:justify-start
        '
      >
        <i class="fa-solid fa-skull"></i>
      </div>
      <p class='sm:hidden md:block lg:block font-medium text-md text-gray-500 pb-5'>
        Troll Deck is a onestop shop for your trolling needs. Draft microposts
        as multiple users, then regret it after.
      </p>
      <div
        class='
          flex flex-col sm:items-center md:items-start md:items-start gap-4 text-xl
          font-bold
        '
      >
        <div class='flex gap-2 items-center hover:text-[#1D9AF1]'>
          <i class="sm:text-2xl md:text-xl lg:text-xl fa-solid fa-book-skull pr-1"></i>
          <%= link_to "New micropost",
          new_micropost_path,
          class: "sm:hidden md:inline-block lg:inline-block" %>
        </div>
        <div class='flex gap-2 items-center hover:text-[#1D9AF1]'>
          <i class="sm:text-xl md:text-lg lg:text-lg fa-solid fa-user-plus"></i>
          <%= link_to "New troll",
          new_user_path,
          class: "sm:hidden md:inline-block lg:inline-block" %>
        </div>
      </div>

    </div>
    <!-- feed -->
    <div
      id="microposts"
      class="
        sm:w-full md:w-[60%] md:w-[60%] h-full border-[1px] border-solid border-gray-700
        border-t-0
      "
    >
      <div class='h-[3rem] flex justify-center items-center'>
        <div
          class='
            h-full border-4 border-solid border-[#1D9AF1] border-l-0 border-r-0 border-t-0
            flex items-center
          '
        >
          <h2 class='text-xl font-bold'>
            Your microposts
          </h2>
        </div>
      </div>
      <%= render "microposts/form", micropost: @micropost %>
      <% if @microposts.empty? %>
        <p
          class='
            text-white text-center border-[1px] border-solid border-gray-700 border-l-0
            border-r-0 border-b-0 pt-4
          '
        >No one's written any posts.</p>
      <% else %>
        <% @microposts.reverse.each do |micropost| %>
          <div
            class='
              p-5 border-[1px] border-solid border-l-0 border-r-0 border-b-0 border-gray-700
              flex gap-4
            '
          >
            <div
              class='
                min-w-[2.5rem] h-[2.5rem] rounded-[50%] bg-[#1D9AF1] flex justify-center
                items-center
              '
            >
              <%= link_to "#{User.find_by(id: micropost.user_id).name[0]}",
              User.find_by(id: micropost.user_id),
              class: "logo text-xl text-white font-bold" %>
            </div>
            <div class='flex flex-col flex-grow'>
              <div class='flex gap-2 items-center'>
                <span class='font-bold pb-1'>
                  <%= link_to "#{User.find_by(id: micropost.user_id).name}",
                  User.find_by(id: micropost.user_id),
                  class: "font-medium hover:text-[#1D9AF1]" %>
                </span>
                <span class='text-sm text-gray-500'>
                  <%= if micropost.created_at.to_s.split(" ")[0] == Time.now.to_s.slice(0, 10)
                    "Today, #{micropost.created_at.to_s.split(" ").drop(1).join(" ")}"
                  else
                    micropost.created_at
                  end %>
                </span>
              </div>
              <p class='text-sm'><%= micropost.content %></p>
              <div class='flex gap-2 font-medium'>
                <%= link_to "Edit",
                edit_micropost_path(micropost),
                class: "text-sm text-gray-500 underline pt-3 hover:text-[#1D9AF1]" %>
                <%= button_to "Destroy",
                micropost,
                method: :delete,
                class: "text-sm text-gray-500 underline pt-3 hover:text-red-800" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @microposts.length >= 1 %>
        <div
          class='
            border-[1px] border-solid border-gray-700 border-l-0 border-r-0 border-b-0
            text-center p-5
          '
        >
          Oops No more posts...
        </div>
      <% end %>
    </div>
    <!-- users -->
    <div class='flex flex-col w-[35%] h-full sm:hidden md:block lg:block'>
      <div
        class="
          p-5 rounded-2xl border-[1px] border-solid border-gray-700 mt-4 flex flex-col
          gap-4
        "
      >
        <div class='flex gap-2 items-center'>
          <i class="fa-solid fa-chart-line text-xl"></i>
          <h2 class='font-bold text-xl'>
            Quick facts
          </h2>
        </div>
        <span class='font-medium text-sm'>
          Number of trolls:
          <span class='text-[#1D9AF1]'>
            <%= @users.length %>
          </span>
        </span>
        <span class='font-medium text-sm'>
          Number of microposts:
          <span class='text-[#1D9AF1]'>
            <%= @microposts.length %>
          </span>
        </span>
        <span class='font-medium text-sm'>
          Last micropost time:
          <span class='text-[#1D9AF1]'>
            <%= if @microposts.reverse[0].created_at.to_s.split(" ")[0] ==
                 Time.now.to_s.slice(0, 10)
              "Today, #{@microposts.reverse[0].created_at.to_s.split(" ").drop(1).join(" ")}"
            else
              micropost.created_at
            end %>
          </span>
        </span>
        <span class='font-medium text-sm'>
          Last troll to speak:
          <span class='text-[#1D9AF1]'>
            <%= User.find_by(id: @microposts.reverse[0].user_id).name %>
          </span>
        </span>

      </div>
      <div
        id="users"
        class="p-5 rounded-2xl border-[1px] border-solid border-gray-700 mt-4"
      >
        <div class='flex gap-2 items-center'>
          <i class="fa-regular fa-face-grin-squint-tears text-xl"></i>
          <h2 class='font-bold text-xl'>
            Your trolls
          </h2>
        </div>
        <% @users.reverse.each do |user| %>
          <div>
            <%= render user %>
          </div>
        <% end %>
        <%= link_to "Make troll",
        new_user_path,
        class:
          "text-white text-center inline-block font-medium text-md text-xl rounded-3xl py-2 px-5 bg-[#1D9AF1] mt-4 w-full" %>
      </div>
    </div>
  </div>
</div>
