<div class="w-full">
  <div class='px-30 flex justify-between gap-8'>
    <% content_for :title, "Users", class: "text-2xl" %>
    <!-- nav -->
    <div class='w-[20%] flex flex-col gap-4 pt-4'>
      <h1 class="logo font-bold text-5xl pb-5">Y</h1>
      <p class='font-medium text-xl'>Y — meaning 'and' in Spanish — is a barebones clone of Twitter/X for
        admins, offering its users full control (not really) over profiles and
        microposts via CRUD operations.</p>
    </div>
    <!-- feed -->
    <div
      id="microposts"
      class="
        w-[55%] h-full border-[1px] border-solid border-gray-700 border-t-0
      "
    >
      <div class='h-[3rem] flex justify-center items-center'>
        <div
          class='
            h-full border-4 border-solid border-[#1D9AF1] border-l-0 border-r-0 border-t-0
            flex items-center
          '
        >
          <h2 class='text-xl font-bold'>
            <i class="fa-solid fa-comment-dots pr-1"></i>
            Feed
          </h2>
        </div>
      </div>
      <%= render "microposts/form", micropost: @micropost %>
      <% if @microposts.empty? %>
        <p
          class='
            text-white text-center border-[1px] border-solid border-gray-700 border-l-0
            border-r-0 border-b-0 pt-4
          '
        >No one's written any posts.</p>
      <% else %>
        <% @microposts.reverse.each do |micropost| %>
          <div
            class='
              p-5 border-[1px] border-solid border-l-0 border-r-0 border-b-0 border-gray-700
              flex gap-4
            '
          >
            <div
              class='
                min-w-[2.5rem] h-[2.5rem] rounded-[50%] bg-[#1D9AF1] flex justify-center
                items-center
              '
            >
              <span class='logo text-xl text-white font-bold'>
                <%= link_to "#{User.find_by(id: micropost.user_id).name[0]}",
                User.find_by(id: micropost.user_id) %>
              </span>
            </div>
            <div class='flex flex-col flex-grow'>
              <div class='flex gap-2 items-center'>
                <span class='font-bold pb-1'>
                  <%= link_to "#{User.find_by(id: micropost.user_id).name}",
                  User.find_by(id: micropost.user_id),
                  class: "font-medium hover:text-[#1D9AF1]" %>
                </span>
                <span class='text-sm text-gray-500'><%= micropost.created_at %></span>
              </div>
              <p class='text-sm'><%= micropost.content %></p>
              <div class='flex gap-2 font-medium'>
                <%= link_to "Edit",
                edit_micropost_path(micropost),
                class: "text-sm text-gray-500 underline pt-3 hover:text-[#1D9AF1]" %>
                <%= button_to "Destroy",
                micropost,
                method: :delete,
                class: "text-sm text-gray-500 underline pt-3 hover:text-red-800" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @microposts.length >= 1 %>
        <div
          class='
            border-[1px] border-solid border-gray-700 border-l-0 border-r-0 border-b-0
            text-center p-5
          '
        >
          Oops No more posts...
        </div>
      <% end %>
    </div>
    <!-- users -->
    <div class='flex flex-col w-[30%] h-full'>
      <div
        class="
          p-5 rounded-2xl border-[1px] border-solid border-gray-700 mt-4 flex flex-col
          gap-4
        "
      >
        <h2 class='font-bold text-xl'>
          <i class="fa-solid fa-chart-line pr-1"></i>
          Quick facts
        </h2>
        <span class='font-medium text-sm'>
          Number of users:
          <span class='text-[#1D9AF1]'>
            <%= @users.length %>
          </span>
        </span>
        <span class='font-medium text-sm'>
          Number of posts:
          <span class='text-[#1D9AF1]'>
            <%= @microposts.length %>
          </span>
        </span>
        <span class='font-medium text-sm'>
          Last micropost posted at:
          <span class='text-[#1D9AF1]'>
            <%= @microposts.reverse[0].created_at.to_s.chars.drop(5).join %>
          </span>
        </span>
        <span class='font-medium text-sm'>
          Last micropost by:
          <span class='text-[#1D9AF1]'>
            <%= User.find_by(id: @microposts.reverse[0].user_id).name %>
          </span>
        </span>

      </div>
      <div
        id="users"
        class="p-5 rounded-2xl border-[1px] border-solid border-gray-700 mt-4"
      >
        <h2 class='font-bold text-xl'>
          <i class="fa-solid fa-user pr-1"></i>
          Users
        </h2>
        <% @users.reverse.each do |user| %>
          <div>
            <%= render user %>
          </div>
        <% end %>
        <button
          class='
            w-full flex justify-center items-center gap-2 text-xl rounded-3xl py-2 px-5
            bg-[#1D9AF1] mt-4
          '
        >
          <%= link_to "Make user",
          new_user_path,
          class: "text-white inline-block font-medium text-md" %>
        </button>
      </div>
    </div>
  </div>
</div>
