<div class="w-full">
  <div class='px-40 flex justify-between'>
    <% content_for :title, "Users", class: "text-2xl" %>
    <!-- nav -->
    <div class='w-[15%] flex flex-col gap-4 pt-4'>
      <h1 class="logo font-bold text-5xl pb-5">Y</h1>
      <p>Y is a simplified Twitter (not X) clone, offering admins full control
        over user profiles and microposts via CRUD operations.</p>
    </div>
    <!-- feed -->
    <div
      id="microposts"
      class="
        w-[54%] h-full border-[1px] border-solid border-gray-700 border-t-0
      "
    >
      <div class='h-[3rem] flex justify-center items-center'>
        <div
          class='
            h-full border-4 border-solid border-[#1D9AF1] border-l-0 border-r-0 border-t-0
            flex items-center
          '
        >
          <h2 class='text-sm font-bold'>Feed</h2>
        </div>
      </div>
      <%= render "microposts/form", micropost: @micropost %>
      <% if @microposts.empty? %>
        <p
          class='
            text-white text-center border-[1px] border-solid border-gray-700 border-l-0
            border-r-0 border-b-0 pt-4
          '
        >No one's written any posts.</p>
      <% else %>
        <% @microposts.reverse.each do |micropost| %>
          <div
            class='
              p-5 border-[1px] border-solid border-l-0 border-r-0 border-b-0 border-gray-700
              flex gap-4
            '
          >
            <div
              class='
                min-w-[2.5rem] h-[2.5rem] rounded-[50%] bg-[#1D9AF1] flex justify-center
                items-center
              '
            >
              <span class='logo text-xl text-white font-bold'>
                <%= User.find_by(id: micropost.user_id).name[0] %>
              </span>
            </div>
            <div class='flex flex-col flex-grow'>
              <div class='flex gap-2 items-center'>
                <span class='font-bold pb-1'>
                  <%= link_to "#{User.find_by(id: micropost.user_id).name}",
                  User.find_by(id: micropost.user_id),
                  class: "font-medium hover:text-[#1D9AF1]" %>
                </span>
                <span class='text-sm text-gray-500'><%= micropost.created_at %></span>
              </div>
              <p class='text-sm'><%= micropost.content %></p>
              <div class='flex gap-2 font-medium'>
                <%= link_to "Edit",
                edit_micropost_path(micropost),
                class: "text-sm text-gray-500 underline pt-3 hover:text-[#1D9AF1]" %>
                <%= button_to "Destroy",
                micropost,
                method: :delete,
                class: "text-sm text-gray-500 underline pt-3 hover:text-red-800" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- users -->
    <div
      id="users"
      class="
        w-[25%] h-full p-5 rounded-2xl border-[1px] border-solid border-gray-700 mt-4
      "
    >
      <h2 class='font-bold text-xl'>
        <%= "#{@users.length == 1 ? @users.length.to_s + " user" : @users.length.to_s + " users"}" %>
      </h2>
      <% @users.each do |user| %>
        <div>
          <%= render user %>
        </div>
      <% end %>
      <button
        class='
          w-full flex justify-center items-center gap-2 text-xl rounded-3xl py-2 px-5
          bg-[#1D9AF1] mt-4
        '
      >
        <%= link_to "Make user",
        new_user_path,
        class: "text-white inline-block font-medium text-md" %>
      </button>

    </div>

  </div>
</div>
