<%= form_with(model: micropost, 
              class: "border-[1px] border-solid border-l-0 border-r-0 border-b-0
              border-gray-700 ") do |form| %>
  <% if micropost.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(micropost.errors.count, "error") %>
        prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='flex p-5 gap-2'>
    <div
      class='
        w-[2.5rem] h-[2.5rem] flex justify-center items-center rounded-[50%]
        bg-[#1D9AF1] text-black mt-1
      '
    >
      <i class="fa-solid fa-signature text-xl text-white"></i>
    </div>
    <div class='w-full'>
      <div class="">
        <%= form.text_area :content,
                       rows: 2,
                       class:
                         "w-full outline-none text-white bg-black border-1 border-solid border-black text-xl",
                       placeholder: "What is happening?!" %>
      </div>

      <div class="flex justify-end items-center gap-2 pt-2">
        <%= form.select :user_id,
                    User.all.map { |user| [user.name, user.id] },
                    {},
                    class:
                      "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full text-white bg-black border-[1px] border-solid border-gray-700" %>
        <div class="">
          <%= form.submit value: "Post",
                      class:
                        "rounded-3xl py-2 px-5 bg-[#1D9AF1] text-white inline-block font-medium cursor-pointer" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
